.nodemonignore
node_modules/
.elasticbeanstalk/config

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.travis.yml
*.swp
*.log
.idea

# for mac
.DS_Store