commands:
  00_remove_previsous_string:
    command: sed -i '/Defaults\:root \!requiretty/d' /etc/sudoers
  01_remove_requiretty:
    command: echo Defaults:root \!requiretty >> /etc/sudoers

files:
  "/tmp/delete_default_users.sh":
    owner: root
    group: root
    mode: "000744"
    content: |
      #! /bin/bash
      userdel lp
      userdel uucp
      userdel nuucp
      groupdel lp
      groupdel uucp
      groupdel nuucp
  "/tmp/change_cron_permission.sh":
    owner: root
    group: root
    mode: "000744"
    content: |
      #! /bin/bash
      chmod o-rwx /etc/crontab
      chmod o-rwx -R /etc/cron.daily/
      chmod o-rwx -R /etc/cron.hourly/
      chmod o-rwx -R /etc/cron.monthly/
      chmod o-rwx -R /etc/cron.weekly/
      chmod o-rwx -R /var/spool/cron/
  "/tmp/change_system_auth.sh":
    owner: root
    group: root
    mode: "000744"
    content: |
      #! /bin/bash
      sed -i '/auth        required      pam_tally2\.so deny=5 unlock_time=1800 no_magic_root reset/d' /etc/pam.d/system-auth-ac
      sed -i '/auth        required      pam_deny\.so/a\auth        required      pam_tally2\.so deny=5 unlock_time=1800 no_magic_root reset' /etc/pam.d/system-auth-ac
      sed -i '/account     required      pam_tally2\.so no_magic_root/d' /etc/pam.d/system-auth-ac
      sed -i '/account     required      pam_permit\.so/a\account     required      pam_tally2\.so no_magic_root' /etc/pam.d/system-auth-ac
      sed -i '/password    requisite     pam_cracklib\.so retry=3 lcredit=-1 dcredit=-1 ocredit=-1 minlen=8/d' /etc/pam.d/system-auth-ac
      sed -i '/password    required      pam_deny\.so/a\password    requisite     pam_cracklib\.so retry=3 lcredit=-1 dcredit=-1 ocredit=-1 minlen=8' /etc/pam.d/system-auth-ac
  "/tmp/change_log_permission.sh":
    owner: root
    group: root
    mode: "000744"
    content: |
      #! /bin/bash
      sudo chown root /var/run/utmp
      sudo chmod o-w /var/run/utmp
      sudo chown root /var/log/messages
      sudo chmod o-w /var/log/messages
      sudo chown root /var/log/lastlog
      sudo chmod o-w /var/log/lastlog
      sudo chown root /var/log/secure
      sudo chmod o-w /var/log/secure
  "/tmp/change_password_rule.sh":
    owner: root
    group: root
    mode: "000744"
    content: |
      #! /bin/bash
      sed -i 's/PASS_MAX_DAYS\t99999/PASS_MAX_DAYS\t60/' /etc/login.defs
      sed -i 's/PASS_MIN_DAYS\t0/PASS_MIN_DAYS\t7/' /etc/login.defs
      sed -i 's/PASS_MIN_LEN\t5/PASS_MIN_LEN\t8/' /etc/login.defs

container_commands:
  00_delete_default_users:
    command: sudo /tmp/delete_default_users.sh
    ignoreErrors: true
  01_change_cron_permission:
    command: sudo /tmp/change_cron_permission.sh
  02_change_su_permission:
    command: sudo sed -i s/#auth/auth/g /etc/pam.d/su
  03_change_system_auth:
    command: sudo /tmp/change_system_auth.sh
  04_change_permit_root_login:
    command: sudo sed -i 's/PermitRootLogin\ forced-commands-only/PermitRootLogin\ no/g' /etc/ssh/sshd_config
  05_restart_sshd:
    command: sudo /etc/init.d/sshd restart
  06_change_login_defs_1:
    command: sudo sed -i '/SULOG_FILE   \/var\/log\/sulog/d' /etc/login.defs
  07_change_login_defs_2:
    command: echo SULOG_FILE   \/var\/log\/sulog >> /etc/login.defs
  08_change_rsyslog_1:
    command: sudo sed -i 's/\*\.info;mail\.none;authpriv\.none;cron\.none                \/var\/log\/messages/\*\.info;mail\.none;authpriv\.none;cron\.none;*\.notice                \/var\/log\/messages/g' /etc/rsyslog.conf
  09_change_rsyslog_2:
    command: sudo sed -i 's/\# kern\.\*                                                 \/dev\/console/\*\.alert          \/dev\/console/g' /etc/rsyslog.conf
  10_restart_rsyslog:
    command: sudo /etc/init.d/rsyslog restart
  11_change_log_permission:
    command: sudo /tmp/change_log_permission.sh
  12_change_password_rule:
      command: sudo /tmp/change_password_rule.sh
  13_change_nginx_config_owner:
    command: sudo chown daemon:daemon /etc/nginx/*.conf
  14_change_nginx_config_permission:
    command: sudo chmod 600 /etc/nginx/*.conf
  15_change_etc_shadow_permission:
    command: sudo chmod 400 /etc/shadow
